
body {
    font-family:  'Helvetica', 'Arial', sans-serif;
    background-color: #FAFAFA;
}

h1 {color: #666666;}

h2 {color: #666666;}

h3 {color: #666666;}


header {
    border: 1px solid #DDDDDD;
    margin-top: -10px;
    margin-left: -10px;
    padding: 10px;
    padding-left:35px;
    height: 60px;
    background-color: #EEEEEE;
}

nav {
    border-right: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    position: absolute;
    top: 80px;
    left: 0px;
    height: 100%;
    width: 10%;
    padding: 10px;
}

main {
    margin-left: 12%;
    border: 0px dashed #AAAAAA;
    width: auto%
}

aside {
    position:absolute;
    top: 80px;
    margin-left:60%;
    margin-top: 15px;
    padding: 10px;
    width: 28%;
    border: 0px dashed #AAAAAA;
    
}

.headbut {
    display: inline-block;
    border: 5px solid #33AA66;
    color: #33AA66;
    margin-top: 6px;
    border-radius: 30px;
    padding:15px;
    background-color: chartreuse;
    font-weight: bold;
}

.formdiv {
    border: 2px solid #DDDDDD;
    background-color: #FEFEFE;
    margin: 10px;
    padding: 15px;
}

.inputrow {
    margin-bottom: 10px;
    display: block;
}

table {border-collapse: collapse;}

th {  
    border: 1px solid #AAA; 
    padding: 5px;
    background-color: yellow;
}

td {  
    border: 1px solid #AAA; 
    padding: 5px;
}

.tablekeycell{text-align: end;}
.tablevaluecell{text-align: left;}

#objectViewDiv {
    padding:15px;
}

